filgatari_aplikacija_2/filgatari_aplikacija_2_2/src/conf/xml-resources/web-service-references/AerodromiWS/wsdl/localhost_8084/filgatari_aplikacija_1/AerodromiWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.filgatari.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.filgatari.nwtis.foi.org/" name="AerodromiWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.filgatari.nwtis.foi.org/" schemaLocation="http://localhost:8084/filgatari_aplikacija_1/AerodromiWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajAvioneSAerodromaZaPeriodTimestamp">
<part name="parameters" element="tns:dajAvioneSAerodromaZaPeriodTimestamp"/>
</message>
<message name="dajAvioneSAerodromaZaPeriodTimestampResponse">
<part name="parameters" element="tns:dajAvioneSAerodromaZaPeriodTimestampResponse"/>
</message>
<message name="dajZadnjihNAvionaSAerodroma">
<part name="parameters" element="tns:dajZadnjihNAvionaSAerodroma"/>
</message>
<message name="dajZadnjihNAvionaSAerodromaResponse">
<part name="parameters" element="tns:dajZadnjihNAvionaSAerodromaResponse"/>
</message>
<message name="azurirajKorisnika">
<part name="parameters" element="tns:azurirajKorisnika"/>
</message>
<message name="azurirajKorisnikaResponse">
<part name="parameters" element="tns:azurirajKorisnikaResponse"/>
</message>
<message name="dajAvioneZaPeriodTimestamp">
<part name="parameters" element="tns:dajAvioneZaPeriodTimestamp"/>
</message>
<message name="dajAvioneZaPeriodTimestampResponse">
<part name="parameters" element="tns:dajAvioneZaPeriodTimestampResponse"/>
</message>
<message name="dajAerodromeUdaljeneOdAerodroma">
<part name="parameters" element="tns:dajAerodromeUdaljeneOdAerodroma"/>
</message>
<message name="dajAerodromeUdaljeneOdAerodromaResponse">
<part name="parameters" element="tns:dajAerodromeUdaljeneOdAerodromaResponse"/>
</message>
<message name="dajUdaljenostAerodroma">
<part name="parameters" element="tns:dajUdaljenostAerodroma"/>
</message>
<message name="dajUdaljenostAerodromaResponse">
<part name="parameters" element="tns:dajUdaljenostAerodromaResponse"/>
</message>
<message name="dajZadnjiPodatakAerodroma">
<part name="parameters" element="tns:dajZadnjiPodatakAerodroma"/>
</message>
<message name="dajZadnjiPodatakAerodromaResponse">
<part name="parameters" element="tns:dajZadnjiPodatakAerodromaResponse"/>
</message>
<message name="dajAvioneZaPeriodTimestampString">
<part name="parameters" element="tns:dajAvioneZaPeriodTimestampString"/>
</message>
<message name="dajAvioneZaPeriodTimestampStringResponse">
<part name="parameters" element="tns:dajAvioneZaPeriodTimestampStringResponse"/>
</message>
<message name="dajVazeceMeteoPodatke">
<part name="parameters" element="tns:dajVazeceMeteoPodatke"/>
</message>
<message name="dajVazeceMeteoPodatkeResponse">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeResponse"/>
</message>
<message name="dajSveKorisnike">
<part name="parameters" element="tns:dajSveKorisnike"/>
</message>
<message name="dajSveKorisnikeResponse">
<part name="parameters" element="tns:dajSveKorisnikeResponse"/>
</message>
<message name="dodajKorisnika">
<part name="parameters" element="tns:dodajKorisnika"/>
</message>
<message name="dodajKorisnikaResponse">
<part name="parameters" element="tns:dodajKorisnikaResponse"/>
</message>
<portType name="AerodromiWS">
<operation name="dajAvioneSAerodromaZaPeriodTimestamp">
<input wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajAvioneSAerodromaZaPeriodTimestampRequest" message="tns:dajAvioneSAerodromaZaPeriodTimestamp"/>
<output wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajAvioneSAerodromaZaPeriodTimestampResponse" message="tns:dajAvioneSAerodromaZaPeriodTimestampResponse"/>
</operation>
<operation name="dajZadnjihNAvionaSAerodroma">
<input wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajZadnjihNAvionaSAerodromaRequest" message="tns:dajZadnjihNAvionaSAerodroma"/>
<output wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajZadnjihNAvionaSAerodromaResponse" message="tns:dajZadnjihNAvionaSAerodromaResponse"/>
</operation>
<operation name="azurirajKorisnika">
<input wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/azurirajKorisnikaRequest" message="tns:azurirajKorisnika"/>
<output wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/azurirajKorisnikaResponse" message="tns:azurirajKorisnikaResponse"/>
</operation>
<operation name="dajAvioneZaPeriodTimestamp">
<input wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajAvioneZaPeriodTimestampRequest" message="tns:dajAvioneZaPeriodTimestamp"/>
<output wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajAvioneZaPeriodTimestampResponse" message="tns:dajAvioneZaPeriodTimestampResponse"/>
</operation>
<operation name="dajAerodromeUdaljeneOdAerodroma">
<input wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajAerodromeUdaljeneOdAerodromaRequest" message="tns:dajAerodromeUdaljeneOdAerodroma"/>
<output wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajAerodromeUdaljeneOdAerodromaResponse" message="tns:dajAerodromeUdaljeneOdAerodromaResponse"/>
</operation>
<operation name="dajUdaljenostAerodroma">
<input wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajUdaljenostAerodromaRequest" message="tns:dajUdaljenostAerodroma"/>
<output wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajUdaljenostAerodromaResponse" message="tns:dajUdaljenostAerodromaResponse"/>
</operation>
<operation name="dajZadnjiPodatakAerodroma">
<input wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajZadnjiPodatakAerodromaRequest" message="tns:dajZadnjiPodatakAerodroma"/>
<output wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajZadnjiPodatakAerodromaResponse" message="tns:dajZadnjiPodatakAerodromaResponse"/>
</operation>
<operation name="dajAvioneZaPeriodTimestampString">
<input wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajAvioneZaPeriodTimestampStringRequest" message="tns:dajAvioneZaPeriodTimestampString"/>
<output wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajAvioneZaPeriodTimestampStringResponse" message="tns:dajAvioneZaPeriodTimestampStringResponse"/>
</operation>
<operation name="dajVazeceMeteoPodatke">
<input wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajVazeceMeteoPodatkeRequest" message="tns:dajVazeceMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajVazeceMeteoPodatkeResponse" message="tns:dajVazeceMeteoPodatkeResponse"/>
</operation>
<operation name="dajSveKorisnike">
<input wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajSveKorisnikeRequest" message="tns:dajSveKorisnike"/>
<output wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dajSveKorisnikeResponse" message="tns:dajSveKorisnikeResponse"/>
</operation>
<operation name="dodajKorisnika">
<input wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dodajKorisnikaRequest" message="tns:dodajKorisnika"/>
<output wsam:Action="http://serveri.ws.filgatari.nwtis.foi.org/AerodromiWS/dodajKorisnikaResponse" message="tns:dodajKorisnikaResponse"/>
</operation>
</portType>
<binding name="AerodromiWSPortBinding" type="tns:AerodromiWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajAvioneSAerodromaZaPeriodTimestamp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjihNAvionaSAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="azurirajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAvioneZaPeriodTimestamp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeUdaljeneOdAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajUdaljenostAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjiPodatakAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAvioneZaPeriodTimestampString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajVazeceMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveKorisnike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AerodromiWS">
<port name="AerodromiWSPort" binding="tns:AerodromiWSPortBinding">
<soap:address location="http://localhost:8084/filgatari_aplikacija_1/AerodromiWS"/>
</port>
</service>
</definitions>